/******************/
/* Overall site   */
/******************/
html,body {
  background-color: white;
  color: black;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.App {
  text-align: center;
}

.app-display-4 {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 1.2;
}

/***************************/
/* grid layout for content */
/***************************/

#home-page.css-grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [col1-start] auto  [col2-start] auto  [col3-start] auto [col3-end];
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
}

#home-page .box {
  background-color: white;
  /* color: #000; */
  border-radius: 5px;
  margin: 0 !important;
  padding: 20px;
  /* font-size: 150%; */
}

#home-page .a {
  grid-column: col1-start / col3-start;
  grid-row: row1-start ;
}
#home-page .b {
  grid-column: col3-start ;
  grid-row: row1-start / row2-end;
}
#home-page .c {
  grid-column: col1-start;
  grid-row: row2-start ;
}
#home-page .d {
  grid-column: col2-start ;
  grid-row: row2-start ;
}
      
/******************/
/* Not Found Page */
/******************/
#not-found-page {
  font-family: 'Poppins', sans-serif; 
}

#not-found-page p {
  font-family: 'Raleway', sans-serif; 
}

/******************/
/* Home page      */
/******************/
#home-page .vl {
  border-right: 1px solid lightgrey;
  /* height: 70vh; */
  height: 70%;
  /* position: absolute; */
  /* left: 25%; */
  /* margin-left: -3px; */
  /* top: 20%; */
}

/*******************/
/* App Color Theme */
/*******************/

/* black */
.app-color-black,
a.app-color-black:hover {
  color:#000;
}
.app-bg-color-black {
  background-color:#000;
}
.app-border-color-black {
  border: 1px solid;
  border-color:#000;
}

/*********/
/* white */
/* snow  */
/*********/
.app-color-white,
a.app-color-white:hover {
  color:#f9f9f9;
}
.app-bg-color-white {
  background-color:#f9f9f9;
}
.app-border-color-white {
  border: 1px solid;
  border-color:#f9f9f9;
}

/**********************/
/* danger color (red) */
/**********************/
.app-color-danger,
a.app-color-danger:hover {
  color: #D72638; 
}
.app-bg-color-danger {
  background-color: #D72638;
}
.app-border-color-danger {
  border: 1px solid;
  border-color:#D72638;
}

/*************************/
/* success color (green) */
/* ADC698                */
/*************************/
.app-color-success,
a.app-color-success:hover {
  color: #0DAB76;
}
.app-bg-color-success {
  background-color: #0DAB76;
}
.app-border-color-success {
  border: 1px solid;
  border-color:#0DAB76;
}

/******************/
/* primary color */
/******************/
.app-color-2,
a.app-color-2:hover {
  color: #3F88C5;
}
.app-bg-color-2 {
  background-color: #3F88C5;
}
.app-border-color-2 {
  border: 1px solid;
  border-color: #3F88C5;
}

/****************/
/* accent color */
/* vl           */
/****************/
.app-color-1,
a.app-color-1:hover {
  color:#EEF1EF;
}
.app-bg-color-1 {
  background-color:rgba(238,241,239,.9);
}
.app-border-color-1 {
  border: 1px solid;
  border-color:#EEF1EF;
}

/****************/
/* accent color */
/* sea blue     */
/****************/
.app-color-2,
a.app-color-2:hover {
  color: #05668D;
}
.app-bg-color-2 {
  background-color: #05668D;
}
.app-border-color-2 {
  border: 1px solid;
  border-color:#05668D;
}

/****************/
/* dark gray    */
/****************/
.app-color-darkgray,
a.app-color-darkgray:hover {
  color: #595757;    
}
.app-bg-color-darkgray {
  background-color: #595757;
}
.app-border-color-darkgray {
  border: 1px solid;
  border-color:#595757;
}

/****************/

.app-btn-primary {
  color: #fff;
  background-color: #05668D;
  border-color: #05668D;
}

a:hover {
  filter: brightness(80%);
}

button.btn.app-btn-primary {
  padding: 10px;
}

button, a,
#main-nav .vl 
{
  filter: opacity(.8);
}
/* none of the below had any impact on alignment for the a icon to line up, used mt-3 instead
/* a > i,button > i {
  align-items:center;
  justify-content:center;
  text-align: center;
  vertical-align: middle;
} */

button:hover,
a:hover {
  filter: opacity(1.0);
}

button:focus,
a:focus {
  outline: none;
}

p {
  font-size: 14px;
}