/******************/
/* Overall site   */
/******************/
html,body {
  background-color: white;
  color: black;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

.App {
  text-align: center;
}

.app-display-4 {
  font-size: 2.0rem;
  font-weight: 300;
  line-height: 1.2;
}

/***************************/
/* grid layout for content */
/***************************/

#home-page.css-grid-wrapper {
  display: grid;
  grid-gap: 30px;

  grid-template-columns: minmax(auto, 33%) minmax(auto,33%) minmax(auto,33%);
  grid-template-rows: minmax(auto, 510px) minmax(auto,auto); 
  grid-template-areas: 
    "a a b"
    "c d b"; 

  /* grid-template-areas:
    "a b c"
    "a b d"; */
}

#home-page .box {
  background-color: lightgray;
  /* border: 2px solid rgb(252, 252, 252); */
  border-radius: 10px;
  margin: 0 !important;
  padding: 20px;
  /* font-size: 150%; */
}

#home-page .a {
  grid-area: a;
}
#home-page .b {
  grid-area: b;
}
#home-page .c {
  grid-area: c;
}
#home-page .d {
  grid-area: d;
}
      
/******************/
/* Not Found Page */
/******************/
#not-found-page {
  font-family: 'Poppins', sans-serif; 
}

#not-found-page p {
  font-family: 'Raleway', sans-serif; 
}

/******************/
/* Home page      */
/******************/
#home-page .vl {
  border-right: 1px solid lightgrey;
  /* height: 70vh; */
  height: 70%;
  /* position: absolute; */
  /* left: 25%; */
  /* margin-left: -3px; */
  /* top: 20%; */
}

/*******************/
/* App Color Theme */
/*******************/

/* black */
.app-color-black {
  color:#000;
}
.app-bg-color-black {
  background-color:#000;
}
.app-border-color-black {
  border: 1px solid;
  border-color:#000;
}

/*********/
/* white */
/* snow  */
/*********/
.app-color-white {
  color:#f9f9f9;
}
.app-bg-color-white {
  background-color:#f9f9f9;
}
.app-border-color-white {
  border: 1px solid;
  border-color:#f9f9f9;
}

/**********************/
/* danger color (red) */
/**********************/
.app-color-danger {
  color: #D72638; 
}
.app-bg-color-danger {
  background-color: #D72638;
}
.app-border-color-danger {
  border: 1px solid;
  border-color:#D72638;
}

/*************************/
/* success color (green) */
/* ADC698                */
/*************************/
.app-color-success {
  color: #0DAB76;
}
.app-bg-color-success {
  background-color: #0DAB76;
}
.app-border-color-success {
  border: 1px solid;
  border-color:#0DAB76;
}

/******************/
/* primary color */
/******************/
.app-color-primary {
  color: #054A91;
}
.app-bg-color-primary {
  background-color: #054A91;
}
.app-border-color-primary {
  border: 1px solid;
  border-color: #054A91;
}

/****************/
/* accent color */
/* vl           */
/****************/
.app-color-1 {
  color:#EEF1EF;
}
.app-bg-color-1 {
  background-color:#EEF1EF;
}
.app-border-color-1 {
  border: 1px solid;
  border-color:#EEF1EF;
}

/****************/
/* accent color */
/* sea blue     */
/****************/
.app-color-seablue {
  color: #05668D;
}
.app-bg-color-seablue {
  background-color: #05668D;
}
.app-border-color-seablue {
  border: 1px solid;
  border-color:#05668D;
}

/****************/
/* accent color */
/* orange       */
/****************/
.app-color-orange {
  color: #DE9151;
}
.app-bg-color-orange {
  background-color: #DE9151;
}
.app-border-color-orange {
  border: 1px solid;
  border-color:#DE9151;
}

/****************/
/* dark gray    */
/****************/
.app-color-darkgray {
  color: #595757;    
}
.app-bg-color-darkgray {
  background-color: #595757;
}
.app-border-color-darkgray {
  border: 1px solid;
  border-color:#595757;
}

/****************/
/* all buttons */
/****************/
.app-btn-primary {
  color: #054A91;
}

.app-btn-bg-primary {
  background-color:#054A91;  
}

.app-btn-border-primary {
  border: 1px solid #054A91;  
}

button.btn.app-btn-primary {
  padding: 10px;
}

.app-btn-white {
  color: #fff;
}

.app-btn-bg-white {
  background-color:#fff;  
}

.app-btn-border-white {
  border: 1px solid #fff;  
}

button.btn:focus,
a:focus,
*:focus {
  outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

p {
  font-size: 14px;
}

/**************************/
/* main-nav a and buttons */
/**************************/
#main-nav * a,
#main-nav * button, 
#main-nav * .vl 
{
  background-color: black;
  color: white;
  filter: opacity(.8);
}

#main-nav #brand:hover {
  color: white;
  filter: opacity(1.0);
}

#main-nav * a:hover {
  color: white;
  filter: opacity(1.0);
}

/***************************/
/* home page a and buttons */
/***************************/
#home-page * a
#home-page * button, 
#article-detail-section * a.card-btn
#article-detail-section * button.card-btn, 
{
  background-color: #3F88C5;  
}

#home-page * a:hover,
#home-page * button:hover, 
#article-detail-section * a:hover,
#article-detail-section * button:hover
{
  background-color: #054A91;
  border-color: 1px solid #054A91;
  color: white;
  outline: none;
}

/*****************************/
/* other pages a and buttons */
/*****************************/
#login-page * a:hover,
#login-page * button:hover,
#registration-page * a:hover,
#registration-page * button:hover,
.edit-page * a:hover,
.edit-page * button:hover,
.edit-page * input[type="submit"]:hover
{
  background-color: #054A91;
  border-color: 1px solid #054A91;
  color: white;
  outline: none;
}

