/* .jumbotron {
  min-height: 80px;
  padding-top: 40px;
}

#page-header {
  height: 200px;
  background: url('./image4.jpeg');
  background-position: 0 -3995px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
} */

.jumbotron {
  background-color: #0B3C5D;
  color: white;
}

