#main-nav {
    width: 100%;
    font-size: 1.75rem;
    background-color: black;
    color: rgb(110, 168, 226);
    border: solid, 1px;
    /* position:fixed;     */
}

#logout {
    margin-left: 1000px;
}

#about {
    margin-left: 800px
}
