#about-page ul {
  list-style-type: square;
  /* list-style-image: url(example.png); */
  list-style-position: inside;
}

ul#feature-list {
  list-style-type: none;
}

#feature-list li i {
  color: green;
}